:root {
  --font-size: 2rem;
  --game-over-msg-font: 3rem;
  --game-over-score-msg-font: 2rem;
  --game-over-score-padding: 1.5rem;
  --btn-font-size: 1.5rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
body {
  height: 100vh;
  max-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 400px;
  height: 450px;

  position: relative;
}
#cvs {
  position: absolute;
  left: 0;
  bottom: 0;
}
.score {
  position: absolute;
  top: 0;
  left: 0;

  font-size: var(--font-size);

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}
.high-score {
  position: absolute;
  top: 0;
  right: 0;

  font-size: var(--font-size);

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}
.game-over {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.85);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-size: var(--game-over-msg-font);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  border: 1px solid rgb(33, 33, 33);
}
.message {
  font-weight: bolder;
}
.game-over-score {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: var(--game-over-score-padding) 0;
  font-size: var(--game-over-score-msg-font);
}
.play-again {
  background-color: rgb(17, 170, 25);
  color: rgb(201, 255, 203);
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  font-size: var(--btn-font-size);
  border-radius: 0.75rem;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.play-again:hover {
  padding: 1rem 2rem;
  background-color: rgb(23, 214, 33);
  color: rgb(254, 254, 254);
}

.hide {
  visibility: hidden;
}
